<div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" [class.active]= "displayMode === displayModeEnum.card" (click) = "changeDisplay(displayModeEnum.card)">CardView</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]= "displayMode === displayModeEnum.grid" (click) = "changeDisplay(displayModeEnum.grid)">ListView</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]= "displayMode === displayModeEnum.map" (click) = "changeDisplay(displayModeEnum.map)">MapView</a>
        </li>
        
    </ul>
    <app-customerscardview [hidden] = "displayMode !== displayModeEnum.card" [customers] = "customersData"></app-customerscardview>
    <app-customerslistview [hidden] = "displayMode !== displayModeEnum.grid"></app-customerslistview>
</div>
